<footer>
	<div class="pull-right">
		<a href="https://github.com/LucasRGoes/ladon-io">LadonIO</a> - Ideal environment advisor through the classification of fruits and vegetables
	</div>
	<div class="clearfix"></div>
</footer>