<div class="image view view-first">
	<img id="{{ id }}" style="height: 100%; width: 100%; display: block;" src="{{ imagePath }}" alt="Sample not found" />
</div>
<div class="caption">
	<p id="{{ captionId }}">{{ caption }}</p>
</div>