<div class="animated flipInY col-lg-12 col-md-12 col-sm-12 col-xs-12">
	<div class="tile-stats">
		<div class="icon">
			<i class="fa fa-{{ icon }}"></i>
		</div>
		<div id={{ valueId }} class="count"></div>

		<h3>{{ description }}</h3>
	</div>
</div>