<!DOCTYPE html>
<html lang="en">
    <head>
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
        <!-- Meta, title, CSS, favicons, etc. -->
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">

        <title>LadonIO</title>

        <!-- Bootstrap -->
        {{ css('vendors/bootstrap/dist/css/bootstrap.min.css') }}
        <!-- Font Awesome -->
        {{ css('vendors/font-awesome/css/font-awesome.min.css') }}
        <!-- NProgress -->
        {{ css('vendors/nprogress/nprogress.css') }}
        <!-- Animate.css -->
        {{ css('vendors/animate.css/animate.min.css') }}

        <!-- Custom Theme Style -->
        {{ css('build/css/custom.min.css') }}
    </head>
    <body class="login">

        <!-- Content -->
        @!section('content')

        <!-- jQuery -->
        {{ script('vendors/jquery/dist/jquery.min.js') }}
        <!-- Bootstrap -->
        {{ script('vendors/bootstrap/dist/js/bootstrap.min.js') }}
        <!-- FastClick -->
        {{ script('vendors/fastclick/lib/fastclick.js') }}
        <!-- NProgress -->
        {{ script('vendors/nprogress/nprogress.js') }}
        
        <!-- Custom Theme Scripts -->
        {{ script('build/js/custom.min.js') }}
    </body>
</html>